<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clevergump.newsreader" >

    <!-- 友盟统计 -->
    <uses-sdk android:minSdkVersion="4"></uses-sdk>
    <!-- 检测联网方式，区分用户设备使用的是2G、3G或是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 获取用户设备的mac地址，在平板设备上，无法通过imei标示设备，我们会将mac地址作为用户的唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户设备的IMEI，通过IMEI和mac来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <!-- 友盟更新 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!-- 联网时需要申请的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 检查是否有网络时需要申请的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于缓存存储到SD卡时需要申请的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".netease_news.activity.NeteaseNewsListActivity"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".netease_news.activity.NeteaseNewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".netease_news.activity.NeteaseImageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
<!--        <activity android:name=".netease_news.activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <!-- 友盟更新相关 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 友盟统计 -->
        <!-- UMENG_APPKEY 用来定位该应用的唯一性 -->
        <meta-data android:value="5718f4efe0f55ace980026c4" android:name="UMENG_APPKEY"></meta-data>
        <!-- UMENG_CHANNEL：用来标注应用推广渠道，不同渠道可以上传不同更新包，您可以使用20位以内的英文和数字为渠道定名 -->
        <meta-data android:value="wandoujia" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>